* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
  }
  
  body {
    height: 100vh;
    background-color: #000;
    background-image: url(../Image/html_table.jpg);
    /* background-image: url(../Image/4.jpg); */
    background-size: cover;
    background-position: center;
}

.navLink1:active{
    color: tomato;
}
li{
    list-style: none;
} 

a{
    text-decoration: none;
    color: #fff;
    font-size: 1rem;
}

a:hover{
    color: orange;
}

/*header*/
header{
    position: relative;
    padding: 0 2rem;
}

.navbar{
    width: 100%;
    height: 60px;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar .logo a{
    font-size: 1.5rem;
    display: flex;
    gap: 2rem;
    font-weight: 550;
}
/* NAVBAR OPTIONS */
.navbar .links{
    position: relative;
    background: rgb(0 0 0 / 65%);
    border-radius: 8px;
    font-size: 0;
    margin-top: 12px;
    margin-left: 15rem;
    box-shadow: 0 2px 3px 0 rgba(0,0,0,.1);
}

.navbar .nav-item{
    font-size: 15px;
    text-transform: uppercase;
    color: white;
    text-decoration: none;
    line-height: 35px;
    position: relative;
    z-index: 1;
    display: inline-block;
    text-align: center;

}

.navbar .animation{
    position: absolute;
    height: 100%;
    top: 0;
    z-index: 0;
    background: rgb(93 24 220);
    border-radius: 8px;
    transition: all .5s ease 0s;
}



.nav-item:nth-child(1){
    width: 150px;
}
.navbar .start-dashboard,.nav-item:nth-child(1):hover~.animation{
    width: 200px;
    left: 0;
}

.nav-item:nth-child(2){
    width: 150px;
}
.navbar .start-facultylist,.nav-item:nth-child(2):hover~.animation{
    width: 110px;
    left: 200px;
}
.nav-item:nth-child(3){
    width: 100px;
}
.navbar .start-punchingout,.nav-item:nth-child(3):hover~.animation{
    width: 140px;
    left: 320px;
}
.nav-item:nth-child(4){
    width: 140px;
}
.navbar .start-report,.nav-item:nth-child(4):hover~.animation{
    width: 116px;
    left: 456px;
}


.navbar .links li:hover{
    color: #fff;
    scale: 0.95;
}
.navbar .toggle_btn{
    color: #fff;
    font-size: 1.5rem;
    cursor: pointer;
    display: none;
}

.navbar_btn {
    background-color: orange;
    color: #fff;
    padding: 0.5rem 1rem;
    border: none;
    outline: none;
    border-radius: 20px;
    font-size: 0.8rem;
    font-weight: bold;
    cursor: pointer;
    transition: scale 0.2 ease;
}
/* Login Button */

.action_btn {
 padding: 12px 20px;
 border-radius: 50px;
 border: 0;
 background-color: #1b1919c9;
 box-shadow: rgb(0 0 0 / 5%) 0 0 8px;
 letter-spacing: 1.5px;
 text-transform: uppercase;
 font-size: 12px;
 transition: all .5s ease;
}

.action_btn:hover {
    letter-spacing: 3px;
    background-color: hsl(261deg 80% 48%);
    color: hsl(0, 0%, 100%);
    box-shadow: rgb(93 24 220) 0px 7px 29px 0px;
   }
   
.action_btn:active {
 letter-spacing: 3px;
 background-color: hsl(261deg 80% 48%);
 color: hsl(0, 0%, 100%);
 box-shadow: rgb(93 24 220) 0px 0px 0px 0px;
 transform: translateY(10px);
 transition: 100ms;
}

.action_btn:hover {
    scale: 1.05;
    color: #fff;
}

.action_btn:active {
    scale: 0.95;
}

/*dropdown menu*/
.dropdown_menu {
    display: none;
    position: absolute;
    right: 2rem;
    top: 60px;
    height:0;
    width: 300px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(15px);
    border-radius: 10px;
    overflow: hidden;
    transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.dropdown_menu.open{
    height: 240px;
}

.dropdown_menu li {
    padding: 0.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dropdown_menu .action_btn {
    width: 100%;
    display: flex;
    justify-content: center;
}

/*hero*/
section#hero {
    height: calc(100vh = 68px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #fff;
}

#hero h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
}

/*responsive desing*/
@media (max-width: 992px) {
    .navbar .links,
    .navbar .action_btn {
        display: none;
    }

    .navbar .toggle_btn {
        display: block;
    }
    
    .dropdown_menu{
        display: block;
    }
}

@media (max-width: 576px) {
    .dropdown_menu {
        left: 2rem;
        width: unset;
    }
}